<!DOCTYPE html>
<html>
<head>
    <% include partials/report/header %>
    <% include partials/master/header %>
</head>
<body class="fixed-navigation">

<script>
    var type = '<%- req.query.type %>';
    var title = type.substr(0, 1).toLocaleUpperCase() + type.substr(1);
</script>

<div id="wrapper">

    <% include partials/master/leftPanel %>

    <div id="page-wrapper" class="gray-bg">

        <% include partials/master/topPanel %>

        <div id="content" class="wrapper wrapper-content">
            <div class="row white-bg">

                <% include partials/master/message %>

                <div class="col-lg-12">
                    <h1 id="title">Attributes</h1>
                    Define custom attributes.  These attributes will appear as options on filters and reporting.
                    <br /><br /><br />
                    <button class="btn btn-sm btn-primary m-t-n-xs" onclick="window.location='/setup/attributes/form/<%- project.id %>?type=<%- req.query.type %>'"><strong>Create new <%- req.query.type %> attribute</strong></button>
                    <br /><br />
                    <div id="attribute-table">
                        <table id="dataTable" class="table table-striped table-bordered table-hover order-column" style="width:100%"></table>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

        <% include partials/master/footer %>
    </div>
</div>

<% include partials/master/footerScripts %>
<% include partials/report/footerScripts %>

<script>
    var attributes = [], attributeObj = <%- JSON.stringify(attributes[req.query.type] || {}) %>;

    for (var key in attributeObj) {
        if (attributeObj.hasOwnProperty(key))
            attributes.push({ name: key, description: attributeObj[key].description, dataType: attributeObj[key].dataType });
    }

    function setupAttributesTable() {
        $('#dataTable').DataTable({
            data: attributes,
            columns: [
                { title: "Name" },
                { title: "Description" },
                { title: "Data Type" },
                { title: "Action", className: "dt-body-right" }
            ],
            columnDefs : [
                { "targets": 0, "data":  "name" },
                { "targets": 1, "data":  "description" },
                { "targets": 2, "data":  "dataType" },
                {
                    "targets" : 3,
                    "data" : "id",
                    "render": function (data, type, row, meta) {
                        return '<button onclick="window.location=(\'/setup/attributes/form/<%- project.id %>?type=<%- req.query.type %>&name=' + Utils.replaceAll(row.name, "'", "\'") + '\')" type="button" class="btn btn-primary btn-xs">Edit</button>' +
                        ' <button onclick="deleteObject(\'<%- req.query.type %>\', \'' + Utils.replaceAll(row.name, "'", "\'") + '\'); return false;" type="button" class="btn btn-delete btn-xs">Delete</button>';
                    }
                }
            ]
        });
    }

    function actionButtonsHtml(attribute) {
        return '<button onclick="window.location=(\'/setup/attributes/form/<%- project.id %>?id=' + attribute.id + '\')" type="button" class="btn btn-primary btn-xs">Edit</button>' +
               '&nbsp;<button onclick="deleteObject(' + attribute.id + ')" type="button" class="btn btn-delete btn-xs" data-toggle="modal" data-target="#modal-confirm">Delete</button>';
    }

    function deleteObject(type, name) {
        Page.confirm('Are you sure?', 'Permanently delete attribute ' + name + '?', function() {
            Data.delete('/setup/attributes/<%- project.id %>?type=' + type + '&name=' + encodeURIComponent(name), function () {
                window.location = '/setup/attributes/<%- project.id %>?type=<%- req.query.type %>';
            });
        });
    }

    $(document).ready(function() {
        setupAttributesTable();

        $('#title').html(title + ' Attributes for Project: <%- project.name %>');

        $('#name').focus(function() {
            $('#name').removeClass('has-error');
        });
    });
</script>
</body>
</html>
