<!DOCTYPE html>
<html>
<head>
    <% include partials/home/header %>
    <title>Login</title>
</head>

<body class="landing-page subpage">
<% include partials/home/navbarSub %>

<div class="homeColumns animated fadeInDown">
    <% include partials/master/message %>

        <div class="row white-bg" style="min-height:900px;padding:30px">

            <div class="col-lg-12">
                <h1>Terms and Conditions</h1>
                By using this service, you agree to these terms and conditions:

                <br><br><h3>GENERAL:</h3>
                These terms and conditions are subject to change without notice by posting the changes to our website. You have read our general copyright notice and terms and conditions and you agree to them. You or we may terminate your account at any time. Subscriber termination does not release the Subscriber from past or future contractual subscriber fees.

                <br><br><h3>LICENSING:</h3>
                The license grants access for one organization at one site, which is defined as a single physical address unless otherwise agreed in
                prior written consent from <%- application.branding.companyName %>. Reports and data from the paid subscription may not be reproduced, transmitted, displayed (including without limitation display on any
                intranet or extranet site), copied, sold, published, distributed, or in any way provided to any party outside the licensed organization and site without prior express written
                consent from <%- application.branding.companyName %>. Subscribers may not: transfer the license; sub-license, rent, lease, transfer or assign any Intellectual Property Rights in the Reports, to any other person
                or entity; disclose the Reports whether in part or in their entirety to any third party, including any associated or affiliated company; in any way commercially exploit any of the
                Reports' content; or use the Reports for any unlawful purpose.

                <br><br><h3>SUBSCRIPTION FEES:</h3>
                You agree to pay the relevant license fees in order to access Reports and Data. Where applicable, payment must be prepaid in accordance with the payment methods set out on the
                website prior to access to certain Reports and Data is permitted, and no license shall be granted until we receive payment in full for the relevant Reports and Data. Fees
                paid to us are non-refundable.

                <br><br><h3>INTELLECTUAL PROPERTY:</h3>
                <%- application.branding.companyName %> retains ownership and all rights to the site logos, trademarks, software, trade secrets, databases, reports, data and website.

                <br><br><h3>POSTING, SHARING OR ADVERTISING REPORTS OR DATA:</h3>
                Reports and data from the paid subscription may not be reproduced, transmitted, displayed (including without limitation display on any intranet or extranet site), copied,
                sold, published, distributed, or in any way provided to any party outside the licensed organization and site without prior express written consent from <%- application.branding.companyName %>.

                <br><br><h3>PRIVACY:</h3>
                We will not give your email address or personal identifying information to any third party without your permission or unless required by law or court order.

                <br><br><h3>NO WARRANTY:</h3>
                The product, including, without limitation, its content, reports, data, functionality, performance and features are provided on an "as available basis" at the Subscriber's sole risk and
                without representations or warranties express or implied of any kind. <%- application.branding.companyName %> and other parties involved in creating, producing or delivering the product expressly exclude
                all warranties, conditions or terms express or implied, statutory or otherwise including without limitation any warranty that the use of the service will not infringe any Intellectual
                Property Rights of any other person or entity; satisfactory quality or fitness for any particular purpose; or that the content of Reports and Data are accurate, complete or
                error free, although <%- application.branding.companyName %> believes the content to be accurate, complete and current.

                <br><br><h3>LIABILITY:</h3>
                You use our services at your own risk. Our services are provided on an 'as is' and 'as available' basis. We are not liable for damages, direct or consequential, resulting
                from any failure to provide service, suspension of service, or termination of service. We do not guaranty the availability of the services. You agree not to hold us responsible
                for data loss or interruption of service of any kind. YOU AGREE TO DEFEND, INDEMNIFY AND HOLD US HARMLESS FROM AND AGAINST ANY AND ALL CLAIMS, LOSSES, LIABILITY COSTS AND
                EXPENSES (INCLUDING BUT NOT LIMITED TO ATTORNEY'S FEES) ARISING FROM YOUR VIOLATION OF THIS AGREEMENT OR ANY THIRD-PARTY'S RIGHTS, INCLUDING BUT NOT LIMITED TO INFRINGEMENT OF
                ANY COPYRIGHT, VIOLATION OF ANY PROPRIETARY RIGHT AND INVASION OF ANY PRIVACY RIGHTS. THIS OBLIGATION SHALL SURVIVE ANY TERMINATION OF THIS AGREEMENT. OUR LIABILITY WILL NOT
                EXCEED THE PURCHASE PRICE OF THE SERVICES. This Agreement will be construed and enforced in accordance with the laws of the State of California without regard to its conflict
                of laws principles. Venue for any dispute under this Agreement will be Orange County, California.
                <br><br><br>
            </div>
        </div>
    </div>
</div>
<% include partials/home/footerScripts %>
</body>
</html>
